@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap');

body {
	background-color: #aeb999;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fredoka One', cursive;
	color: #204f00;
	-webkit-text-stroke: 0.05em pink;
	font-weight: 900;
	size: 800%
}

p, a, li {
	/*font-family: 'Inconsolata';*/
	font-family: 'Inter', sans-serif;
	/*color: #AA98A9;*/
}

p {
	background-color: #D0D7C4;
	text-align: center;
	border-radius: 0.5em;
}

p.bold {
	border: 0.2em solid blue;
}

p.proposition {
	border: 0.2em solid green;
}
p.legislation {
	border: 0.2em solid brown;
}

hr {
	border: 0.2em solid black;
}
